body{ 
    background-color: #fffcf5;
    margin: 20;
    padding: 0;

}
header {
    background-color: #f7f0e4;
    border-radius: 5px;
    width: 100%; 
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
}

header #return,
header #taste,
header #weather,
header #about-us,
header #toggle
{ background-color: #babde2;
    color: #374375;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    margin: 1em;
    cursor: pointer;
}
#search-bar{
    align-items: center;
    text-align: center;
    justify-content: center;
   
}
#search{
    border-radius: 5px;
    background-color: #babde2;
    border: none;
    display: flexbox; 
    padding: 10px 20px;
    margin: 1em;;
}
h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    border-radius: 5px;
    font-size: large;
    font-family: Arial, Helvetica, sans-serif;
    color: #374375;
}

#search-bar::placeholder{
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic;
    text-align: center;
}

#return:hover,
#taste:hover,
#weather:hover,
#about-us:hover,
#toggle:hover{
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.2);
    background-color: rgb(239, 221, 129);
}
#localStorage {
    font-family: Arial, Helvetica, sans-serif;
    color:#374375;
    background-color: #f7f0e4;
    text-align: center;
    display: flex;
    flex-direction: column;
}
.food{
    border: 2px solid red;
    border-radius: 10px;
    margin-bottom: 20px;
    padding: 20px;
    width: 600px;
}
.img-responses{
    width: 100%;
}
