.dark-mode {
    background-color: #0b0e18;
    
    header {
        background-color: #374375
    }
    
    .container {
        background-color: #374375;
    }
    
    #section-2 , .recipes {
        background-color: #8094e3;
    }
    #localStorage {
        background-color: #374375;
        color: #babde2;
    }
}
