.dark-mode {
    background-color: #0b0e18;
    
    header {
        background-color: #374375;
    }
    
    .container {
        background-color: #374375;
    }
    
    #section-2, .recipes {
        background-color: #374375;
        color: #fff;
    }
    
    #about-us-blog {
        background-color: #374375;
        color: #fff;
        padding: 20px;
        border-radius: 5px;
    }

    
    #about-us-blog h1,
    #about-us-blog h3 {
        color: #fff;
    }
    
    section[id^="Sephora"],
    section[id^="Ernest"],
    section[id^="Sabely"],
    section[id^="Mathieu"],
    section[id^="Andrew"] {
        background-color: #374375;
        color: #fff;
        padding: 20px;
        border-radius: 5px;
        margin: 10px 80px 0px 80px;
    }
    
    section[id^="Sephora"] h1,
    section[id^="Ernest"] h1,
    section[id^="Sabely"] h1,
    section[id^="Mathieu"] h1,
    section[id^="Andrew"] h1,
    section[id^="Sephora"] h3,
    section[id^="Ernest"] h3,
    section[id^="Sabely"] h3,
    section[id^="Mathieu"] h3,
    section[id^="Andrew"] h3 {
        color: #fff;
    }
}
