body {
  background-color: #fffcf5;
  margin: 20;
  padding: 0;
}

/*rounded out background + centering all content*/
header {
  background-color: #f7f0e4;
  border-radius: 5px;
  width: 100%;
  display: flex;
  text-align: center;
}

#hero {
  display: flex;
  align-items: center;
  justify-content: center;
}

#hero img,
#hero button {
  margin: 1em;
}

.recipe-categories {
  position: relative;
}

#recipe-ingredientlist {
  display: inline-block;
  text-align: left;
}

#recipe-name {
  text-decoration: underline;
}

#cookbook-list {
  display: none;
  position: absolute;
  list-style-type: none;
  padding: 0;
}

#cookbook-list li {
  margin: 0;
}

#cook-book:hover #cookbook-list {
  display: block;
}

#toggle {
  margin: 1em;
  font-weight: bolder;
  background-color: #babde2;
  color: #374375;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

#toggle:hover {
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.2);
  background-color: rgb(239, 221, 129);
}

/*create button and animations*/
#Cook-Book,
#taste-switch,
#about-us,
#toggle,
#regenerate {
  margin: 1em;
  font-weight: bolder;
  background-color: #babde2;
  color: #374375;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

#Cook-Book {
  text-decoration: none;
  color: #374375;
}

#Cook-Book:hover,
#taste-switch:hover,
#about-us:hover,
#toggle:hover,
#regenerate:hover {
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.2);
  background-color: rgb(239, 221, 129);
}

header #about-us a {
  text-decoration: none;
  color: inherit;
}

header #Cook-Book a {
  text-decoration: none;
  color: inherit;
}


header #about-us a:hover {
  text-decoration: none;
  color: inherit;
}

#welcome-message {
  padding: 20px;
  margin-top: 10px;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#welcome-message h1 {
  margin-right: 10px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: large;
  color: #374375;
}

#Regenerate {
  font-weight: bolder;
  background-color: #babde2;
  color: #374375;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

#Regenerate:hover {
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.2);
  background-color: rgb(239, 221, 129);
}

.container {
  background-color: #f7f0e4;
  margin: 10px 80px 0px 80px;
  border-radius: 5px;
  padding: 20px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  width: auto;
}

.container > * {
  margin: 0 10px;
}

@media screen and (max-width: 600px) {
  .container {
    flex-direction: column;
    align-items: center;
  }

  .search-bar {
    margin-bottom: 10px;
  }

  #Regenerate {
    margin-top: 10px;
  }

  #save-to-cookbook {
    width: auto;
    margin: 1em;
  }
}

.search-bar {
  border-radius: 5px;
  background-color: #babde2;
  border-color: transparent;
  padding: 8px 20px;
  display: flex;
  align-items: center;
  text-align: center;
}

.search-bar input[type="text"] {
  width: 100%;
  height: 100%;
  color: #374375;
}

.search-bar::placeholder {
  color: #374375;
  font-family: Arial, Helvetica, sans-serif;
  font-style: italic;
}

#save-to-cookbook {
  margin: 1em;
  font-weight: bolder;
  background-color: #babde2;
  color: #374375;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

#save-to-cookbook:hover {
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.2);
  background-color: rgb(239, 221, 129);
}

#submit {
  margin: 1em;
  font-weight: bolder;
  background-color: #babde2;
  color: #374375;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

#submit:hover {
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.2);
  background-color: rgb(239, 221, 129);
}

#section-2 {
  background-color: #f7f0e4;
  margin-top: 10px;
  border-radius: 5px;
  padding: 20px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px 80px 0px 80px;
}

.background-color-container {
  background-color: #f7f0e4;
  padding: 20px;
  border-radius: 5px;
  margin-top: 10px;
}

.recipes {
  background-color: #f7f0e4;
  border-radius: 5px;
  padding: 20px;
  text-align: center;
  width: 80%;
  margin: 0 auto;
  font-family: Arial, Helvetica, sans-serif;
  color: #374375;
}

#rating-bttn {
  margin: 1em;
  font-weight: bolder;
  background-color: #babde2;
  color: #374375;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

#rating-bttn:hover {
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.2);
  background-color: rgb(239, 221, 129);
}

/* new section dividor, about page css */
#about-us-blog {
  background-color: #f7f0e4;
  border-radius: 5px;
  padding: 20px;
  text-align: center;
  margin: 10px 80px 0px 80px;
}

#about-us-blog h1 {
  font-family: Arial, Helvetica, sans-serif;
  color: #374375;
}

#about-us-blog h3 {
  font-family: Arial, Helvetica, sans-serif;
  color: #374375;
}

section[id^="Sephora"],
section[id^="Ernest"],
section[id^="Sabely"],
section[id^="Mathieu"],
section[id^="Andrew"] {
  background-color: #f7f0e4;
  border-radius: 5px;
  padding: 20px;
  text-align: center;
  margin: 10px 80px 0px 80px;
}

section[id^="Sephora"] h1,
section[id^="Ernest"] h1,
section[id^="Sabely"] h1,
section[id^="Mathieu"] h1,
section[id^="Andrew"] h1 {
  font-family: Arial, Helvetica, sans-serif;
  color: #374375;
}

section[id^="Sephora"] h3,
section[id^="Ernest"] h3,
section[id^="Sabely"] h3,
section[id^="Mathieu"] h3,
section[id^="Andrew"] h3 {
  font-family: Arial, Helvetica, sans-serif;
  color: #374375;
}

#recipe-image {
  max-width: 100%;
  max-height: 100%;
  border-radius: 5px;
  width: auto;
  height: auto;
}

#weather-info {
  font-family: Arial, sans-serif;
  font-size: 16px;
  color: black;
}

#weather-png {
  width: 50px;
  height: auto;
  background-color: lightblue;
  border-radius: 5px;
}

.container-1 {
  width: 100%;
  margin: 0 auto;
  font-family: Arial, Helvetica, sans-serif;
}

/* Footer Styles */

footer {
  background-color: #f7f0e4;
  color: white;
  padding: 20px 0;
  border-radius: 5px;
  margin-top: 10px;
}

.footer-content {
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-content ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
}

.footer-content ul li {
  margin-right: 20px;
}

.footer-content ul li:last-child {
  margin-right: 0;
}

.footer-content ul li a {
  color: #374375;
  text-decoration: none;
}

.footer-content ul li a:hover {
  text-decoration: underline;
}

.logo {
  width: 10%;
  height: 10%;
  margin-right: 20px;
}

/* FAQ Styles */
.faq {
  margin: 20px;
  font-family: Arial, Helvetica, sans-serif;
}

.question {
  margin-bottom: 20px;
}

.question h2 {
  margin-bottom: 10px;
  color: #374375;
}

.answer {
  padding: 10px;
  background-color: #f7f0e4;
  border-radius: 5px;
  color: #374375;
}

#hero1 img {
  margin-top: 10px;
  max-width: 100%;
  border-radius: 5px;
  height: auto;
}
